*{
    margin:0;
    padding:0;
    font-family: Century Gothic, sans-serif;
}

body {
  background-image:url(css/slide1.jpg);
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size:100%;
  	background-attachment:fixed;
}

/* HEADER */

#headerBox
{
    width: 80vw;
    height: 10vw;
    margin: auto;
    margin-top:3vh;
    background-image:none;
    opacity: .90;
    border-radius: 1vw;
}

#myName {

	opacity:0;
	font-size:7vw;
	text-align:center;
	margin:auto;
	width:50vw;
	color:#031626;
}

#loadingLine {
  position: absolute;
  top: 34%;
  left: 37.1%;
  width:27%;
  height:.7%;
	background-color: grey;
	opacity:1;
}

#skillsBar {

	width:50vw;
	text-align:center;
	margin:auto;
	margin-top:2%;
	opacity:0;
}


.skillsImg {

	display:none;
	height:50%;
	margin-left:2.5%;
	margin-right:2.5%;
	box-shadow:         0 6px 4px -5px #ccc;
}

#skill6 {

  height:50.5%;
  margin-top:.5%;
}


/* Navigation */
/*
#navBar
{
    position: absolute;
    width: 78vw;
    margin-top: 11%;

    text-align: center;
    text-align: center;

    padding-left:1vw;
    padding-right:1vw;
}

#navBar ul
{
    list-style: none;

}
#navBar li
{
    display: inline-table;
        margin-left:1vw;
    margin-right:1vw;
}



#navBtn
{
    width: 130px;
    height: 40px;
    padding: 0;
    color: black;
    background-color: white;
    border-color:black;
    border-width: 5%;
	border-radius:4px;
}

#navBtn:hover
{
    box-shadow: 0 0 1vw 1vh #bacde0, 0 0 1vw 1vh #FFFFFF;
    transition:1s;

}
*/


/* Body */


#mainbox {

	 width: 55vw;
    height: 15vw;
    margin: auto;
    margin-top: 9vw;
    text-align:justify;
    text-justify: inter-word;
    color:#031626;
    border-radius: 1vw;
    line-height: 4vh;
    visibility:hidden;
}
#contactBox {
  height:50px;
  width:295.5px;
  text-align:center
  display:inline-block;
  margin:auto;
  margin-top:4%;
  visibility:hidden;


}
#contactBtn {

  display:inline-block;
  border-radius:4px;
  text-align:center;
  padding-left:32px;
  height:34px;
  width:80px;
  padding-top:8px;
  margin-left:5%;
  margin-right:5%;
}

#contactImg {
  position:absolute;
  margin-left: -36px;
  margin-top:-.15%;
  height: 28px;
}

.googleBtn{

  border: 2px solid #c6463f;
  color:#c6463f;
  border-color:#c6463f;
    opacity:.4;

}

.gitBtn{
  border: 2px solid #0026B6;
  color:#0026B6;
  border-color:#0026B6;
    opacity:.4;
}

.gitBtn:hover{
  box-shadow: 0 0 8px 1px #0026B6, 0 0 2px 1px #FFFFFF;
  opacity:1;
  transition:1.4s;

}

.googleBtn:hover{

  box-shadow: 0 0 8px 1px #c6463f, 0 0 2px 1px #FFFFFF;
  opacity:1;
  transition:1.4s;
}




#scrollArrow {

	visibility:hidden;
	position:absolute;
	left:48.2%;
	top:89%;
	opacity:.6;
	height:50px;
}

#slide2{

  background-image:url(css/slide2.jpg);
  background-size:100%;
  background-position:fixed;
  margin-top:10px;
  height:200vh;
}

#castShadow{
  width:100%;
  height:1px;
  background-color:#FFFFFF;
  margin-top:-1px;
  box-shadow: 0px 5px 50px 50px #FFFFFF, 0px -5px 5px 5px #FFFFFF;
}
